<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .text-right-ar {
        text-align: right;
        direction: rtl;
      }

      .text-left-fr {
        text-align: left;
        direction: ltr;
      }
      .d-flex {
        display: flex;
      }
      .justify-content-between {
        justify-content: space-between;
      }
      .align-items-center {
        align-items: center;
      }
    </style>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body class="fs-5">
    <div class="container mt-5">
      <h1 class="text-center mt-5 text-danger fs-2">معلوم الطابع الجبائي</h1>
      <h1 class="text-center mt-3 text-danger fs-2">DROIT DE TIMBRE</h1>

      <table class="table table-bordered mt-5">
        <thead>
          <tr>
            <th scope="col" class="text-center text-warning">
              Droit du sur les factures des lignes et les montants payés au
              titre des services de téléphonie et des services d'internet
            </th>
            <th scope="col" class="text-center">المعلوم المستوجب</th>
            <th scope="col" class="text-center text-warning">
              المعلوم المستوجب على المبالغ المفوترة وعلى المبالغ المستخلصة
              بعنوان خدمات الهاتف وخدمات الأنترنات
            </th>
          </tr>
          <tr>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center">Droit dû (I)</th>
            <th scope="col" class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td class="text-center">
              <input type="number" value="0.000" class="form-control" />
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <table class="table table-bordered mt-5">
        <thead>
          <tr>
            <th scope="col" class="text-center text-warning">
              Droit de timbre exigible sur les tickets de vente délivrés par les
              magasins commerciaux et les entreprises franchisées d'une marque
              commerciale étrangère
            </th>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center text-warning">
              المعلوم المستوجب على تذاكر البيع المسلمة من قبل المغازات التجارية
              والمستغلين لعلامة تجارية أجنبية
            </th>
          </tr>
          <tr>
            <th scope="col" class="text-center">المعلوم المستوجب</th>
            <th scope="col" class="text-center">عدد التذاكر</th>
            <th scope="col" class="text-center">عدد الفروع</th>
          </tr>
          <tr>
            <th scope="col" class="text-center">Droit dû (II)</th>
            <th scope="col" class="text-center">Nombre de tickets</th>
            <th scope="col" class="text-center">Nombre d'établissements</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">
              <input type="number" value="0.000" class="form-control" />
            </td>
            <td class="text-center">
              <input type="number" value="0.000" class="form-control" />
            </td>
            <td class="text-center">
              <input type="number" value="0.000" class="form-control" />
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered mt-5">
        <thead>
          <tr>
            <th scope="col" class="text-center text-warning">
              Droit de timbre exigible sur les autres documents
            </th>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center text-warning">
              المعلوم المستوجب على الوثائق الأخرى
            </th>
          </tr>
          <tr>
            <th scope="col" class="text-center">المعلوم المستوجب</th>
            <th scope="col" class="text-center">عدد الوثائق</th>
            <th scope="col" class="text-center">عدد الفروع</th>
            <th scope="col" class="text-center">نوع الوثيقة</th>
          </tr>
          <tr>
            <th scope="col" class="text-center">Droit dû (II)</th>
            <th scope="col" class="text-center">Nombre de documents</th>
            <th scope="col" class="text-center">Nombre d'établissements</th>
            <th scope="col" class="text-center">Type document</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">
              <input type="number" value="0.000" class="form-control" />
            </td>
            <td class="text-center">
              <input type="number" value="0.000" class="form-control" />
            </td>
            <td class="text-center">
              <input type="number" value="0.000" class="form-control" />
            </td>
            <td class="text-right-ar">
              <div class="d-flex justify-content-between align-items-center">
                <span> شهادة فحص فني لوسيلة نقل </span>
                <span class="text-left-fr">
                  Certificats de visite technique de moyen de transport
                </span>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <input type="number" value="0.000" class="form-control" />
            </td>
            <td class="text-center">
              <input type="number" value="0.000" class="form-control" />
            </td>
            <td class="text-center">
              <input type="number" value="0.000" class="form-control" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div class="d-flex justify-content-between align-items-center">
                <span> تذكرة نقل دولي للأشخاص</span>
                <span class="text-left-fr">
                  Billets de transport international aérien et maritime de
                  personnes</span
                >
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <input type="number" value="0.000" class="form-control" />
            </td>
            <td class="text-center">
              <input type="number" value="0.000" class="form-control" />
            </td>
            <td class="text-center">
              <input type="number" value="0.000" class="form-control" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div class="d-flex justify-content-between align-items-center">
                <span
                  >فاتورة أو كمبيالة بما في ذلك القابلة للقراءة الآلية
                </span>
                <span class="text-left-fr"
                  >Factures ou lettres de change y compris celles se prêtant à
                  la lecture électronique
                </span>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <input type="number" value="0.000" class="form-control" />
            </td>
            <td class="text-center">
              <input type="number" value="0.000" class="form-control" />
            </td>
            <td class="text-center">
              <input type="number" value="0.000" class="form-control" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div class="d-flex justify-content-between align-items-center">
                <span>وثائق أخرى </span>
                <span class="text-left-fr"> Autres documents</span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar text-primary" colspan="4">
              <div class="d-flex justify-content-between align-items-center">
                <span>المجموع </span>
                <span class="text-left-fr"> TOTAL</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered mt-5">
        <thead>
          <tr>
            <th scope="col" class="text-center">Total de droit de timbre dû</th>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center">المعلوم الجملي المستوجب</th>
          </tr>
          <tr>
            <th scope="col" class="text-center"></th>
            <th scope="col" class="text-center">
              <input type="number" value="0.000" />
            </th>
            <th scope="col" class="text-center"></th>
          </tr>
        </thead>
      </table>
      <div class="row wizard-buttons">
        <div class="col d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-outline-primary mx-2">
            موافق Valider
          </button>
          <button
            (click)="next()"
            type="button"
            class="btn btn-outline-primary mx-2"
          >
            الموالي Suivant
          </button>
          <button
            (click)="previous()"
            type="button"
            class="btn btn-outline-primary mx-2"
          >
            السابق Precedent
          </button>
        </div>
      </div>
    </div>

    <!-- Include Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
