<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .text-right-ar {
        text-align: right;
        direction: rtl;
      }

      .text-left-fr {
        text-align: left;
        direction: ltr;
      }
      .d-flex {
        display: flex;
      }
      .justify-content-between {
        justify-content: space-between;
      }
      .align-items-center {
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center mt-5 text-danger fs-2">
        المعلوم على المؤشسات ذات الصبغة الصناعيّة أو التجاريّة أو المهنيّة
      </h1>
      <h1 class="text-center mt-3 text-danger fs-2">T. C. L.</h1>
      <table class="table table-bordered mt-5">
        <thead>
          <tr>
            <th scope="col" class="text-center">المعلوم المستوجب</th>
            <th scope="col" class="text-center">النسبة</th>
            <th scope="col" class="text-center">أساس المعلوم</th>
            <th scope="col" colspan="2" class="text-center">
              المعلوم على المؤسّسات
            </th>
          </tr>
          <tr>
            <th scope="col" class="text-center">Taxe due</th>
            <th scope="col" class="text-center">Taux</th>
            <th scope="col" class="text-center">Assiette</th>
            <th scope="col" colspan="2" class="text-center">T.C.L.</th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center">0.2%</td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div class="d-flex justify-content-between align-items-center">
                <span> رقم المعاملات المحلي % الخام المحق بنسبة 0.2</span>
                <span class="text-left-fr">
                  C. A. Local Brut realise au taux de 0.2%</span
                >
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center">0.1%</td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div class="d-flex justify-content-between align-items-center">
                <span>
                  رقم المعاملات - المتأتي من التصدير و من العمليات المنتفعة بنفس
                  النظام الجبائي للتصدير</span
                >
                <span class="text-left-fr">
                  Chiffres d'affaires provenant de l'exportation et des
                  opérations qui bénéficient du même régime</span
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered mt-5">
        <tbody>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar text-primary" colspan="5">
              <div class="d-flex justify-content-between align-items-center">
                <span
                  >المعلوم على المؤسّسات ذات الصبغة الصناعية أو التِجارية أو
                  المهنيّة</span
                >
                <span class="text-left-fr">T.C.L</span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar text-primary" colspan="5">
              <div class="d-flex justify-content-between align-items-center">
                <span>المعلوم المستوجب بعنوان الأشهر السابقة</span>
                <span class="text-left-fr"
                  >TCL due au titre des mois précédents</span
                >
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar text-primary" colspan="5">
              <div class="d-flex justify-content-between align-items-center">
                <span>المجموع</span>
                <span class="text-left-fr">Total</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered mt-5">
        <tbody>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="5">
              <div class="d-flex justify-content-between align-items-center">
                <span>المعلوم المستوجب سنويا </span>
                <span class="text-left-fr">Total annuel dû</span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="5">
              <div class="d-flex justify-content-between align-items-center">
                <span> الحدِّ الأدنى للمعلوم على المؤسّسات</span>
                <span class="text-left-fr">Minimum de la TCL</span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="5">
              <div class="d-flex justify-content-between align-items-center">
                <span>الباقي المستوجب</span>
                <span class="text-left-fr">Reste dû</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="row wizard-buttons">
        <div class="col d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-outline-primary mx-2">
            موافق Valider
          </button>
          <button
            (click)="next()"
            type="button"
            [disabled]="true"
            class="btn btn-outline-primary mx-2"
          >
            الموالي Suivant
          </button>
          <button
            (click)="previous()"
            type="button"
            class="btn btn-outline-primary mx-2"
          >
            السابق Precedent
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
