 
<div class="table-container">
    <h1> montants supérieurs à 1000 dt</h1>
    <table>
      <thead>
        <tr>
          <th>   montants supérieurs à 1000 dt</th>
          <th>    Total des montants bruts</th>
          <th>Taux</th>
          <th>    Montant total des retenues à la source</th>
          <th>    Total des montants nets</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>   établissements soumis à l'i/s au taux de 15%</td>
          <td>0</td>
          <td>1%</td>
          <td>Montant en Dt à 3 chiffres après la virgule</td>
          <td>Montant en Dt à 3 chiffres après la virgule</td>
        </tr>
        <tr>
          <td>   établissements soumis à l'i/s au taux de 10%</td>
          <td>0</td>
          <td>0.5%</td>
          <td>Montant en Dt à 3 chiffres après la virgule</td>
          <td>Montant en Dt à 3 chiffres après la virgule</td>
        </tr>
        <tr>
          <td>   établissements individuels et éligible à la réduction des 2/3 des revenus</td>
          <td>0</td>
          <td>0.5%</td>
          <td>Montant en Dt à 3 chiffres après la virgule</td>
          <td>Montant en Dt à 3 chiffres après la virgule</td>
        </tr>
        <tr>
            <td>  établissements individuels et éligible à la réduction des
                2/3 des revenus
               </td>
            <td>0</td>
            <td>1.5%</td>
            <td>Montant en Dt à 3 chiffres après la virgule</td>
            <td>Montant en Dt à 3 chiffres après la virgule</td>
          </tr>
          
      </tbody>
    </table>
  </div>
 