<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .text-right-ar {
        text-align: right;
        direction: rtl;
      }

      .text-left-fr {
        text-align: left;
        direction: ltr;
      }
      .d-flex {
        display: flex;
      }
      .justify-content-between {
        justify-content: space-between;
      }
      .align-items-center {
        align-items: center;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center mt-5 text-danger fs-2">
        الأداء على القيمة المضافة
      </h1>
      <h1 class="text-center mt-3 text-danger fs-2">
        TAXE SUR LA VALEUR AJOUTEE
      </h1>
      <table class="table table-bordered mt-5">
        <thead>
          <tr>
            <th scope="col" class="text-center">الطرح</th>
            <th scope="col" class="text-center">أ ق م المستوجب</th>
            <th scope="col" class="text-center">النسبة</th>
            <th scope="col" class="text-center">المبلغ</th>
            <th scope="col" colspan="2"></th>
          </tr>
          <tr>
            <th scope="col" class="text-center">TVA déductible</th>
            <th scope="col" class="text-center">TVA due</th>
            <th scope="col" class="text-center">Taux</th>
            <th scope="col" class="text-center">Montant</th>
            <th scope="col" colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row">
            <td class="text-center"></td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center">7%</td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div
                class="text-primary d-flex justify-content-between align-items-center"
              >
                <span>
                  رقم المعاملات الخاضع للأداء على القيمة المضافة بدون إعتبار
                  الأداء على القيمة المضافة</span
                >
                <span class="text-left-fr">
                  1- C. A. soumis à la TVA hors TVA</span
                >
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center"></td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center">13%</td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div
                class="d-flex justify-content-between align-items-center"
              ></div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center"></td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center">19%</td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div
                class="d-flex justify-content-between align-items-center"
              ></div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center"></td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center">6%</td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div
                class="d-flex justify-content-between align-items-center"
              ></div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center"></td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center">12%</td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div
                class="d-flex justify-content-between align-items-center"
              ></div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center"></td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center">18%</td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div
                class="d-flex justify-content-between align-items-center"
              ></div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center"></td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center"></td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div class="d-flex justify-content-between align-items-center">
                <span> عمليات التسليم للنفس</span>
                <span class="text-left-fr"> - Livraison à soi-même</span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-right-ar" colspan="2">
              <div
                class="text-primary d-flex justify-content-between align-items-center"
              >
                <span>
                  الشراءات الخاضعة للأداء على القيمة المضافة بدون إعتبار أ.ق.م.
                  والتي تخوّل حقّ الطرح
                </span>
                <span class="text-left-fr">
                  2- Achats soumis à la TVA hors TVA et ouvrant droit à
                  déduction</span
                >
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center"></td>
            <td class="text-center">19%</td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div class="d-flex justify-content-between align-items-center">
                <span>شراءات عقاريّة </span>
                <span class="text-left-fr"> 2-1 Achats d'immeubles</span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-right-ar" colspan="2">
              <div class="d-flex justify-content-between align-items-center">
                <span>شراءات معدّات</span>
                <span class="text-left-fr">2-2 Achats d'équipements</span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div class="d-flex justify-content-between align-items-center">
                <span> محليّة</span>
                <span class="text-left-fr">- Locaux</span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div class="d-flex justify-content-between align-items-center">
                <span> موزدة</span>
                <span class="text-left-fr">- Importés</span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-right-ar" colspan="2">
              <div class="d-flex justify-content-between align-items-center">
                <span> شراءات أخرى</span>
                <span class="text-left-fr">2-3 Autres Achats</span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div class="d-flex justify-content-between align-items-center">
                <span> محليّة</span>
                <span class="text-left-fr">- Locaux</span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div class="d-flex justify-content-between align-items-center">
                <span> موزدة</span>
                <span class="text-left-fr">- Importés</span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div
                class="text-primary d-flex justify-content-between align-items-center"
              >
                <span> طروحات أخرى</span>
                <span class="text-left-fr">3- Autres déductions</span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center"></td>
            <td class="text-center">25%</td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div class="d-flex justify-content-between align-items-center">
                <span>
                  أ.ق.م المستوجب على المبالغ الّتي تساوي أو تفوق 1000 دينار بما
                  في ذلك أ.ق.م و مبلغ الخصم من المورد</span
                >
                <span class="text-left-fr">
                  TVA due au titre des montants égales ou supérieurs à 1000
                  dinars y compris la TVA</span
                >
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center"></td>
            <td class="text-center">100%</td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div class="d-flex justify-content-between align-items-center">
                <span>
                  أ. ق.م المستوجب على العمليات المنجزة مع الأشخاص الذين ليست لهم
                  مؤسسات بالبلاد التونسية
                </span>
                <span class="text-left-fr">
                  - TVA retenue à la source au titre des opérations réalisées
                  par les non résidents</span
                >
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-right-ar" colspan="2">
              <div class="d-flex justify-content-between align-items-center">
                <span> أ .ق.م تقديري على وسائل النقل </span>
                <span class="text-left-fr"
                  >-TVA forfaitaire sur les moyens de transport
                </span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div class="d-flex justify-content-between align-items-center">
                <span> عمليات التسليم للنفس </span>
                <span class="text-left-fr">- Livraison à soi-même </span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-right-ar" colspan="2">
              <div
                class="text-primary d-flex justify-content-between align-items-center"
              >
                <span> التعديلات</span>
                <span class="text-left-fr"> 4- Régularisations</span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-right-ar" colspan="2">
              <div class="d-flex justify-content-between align-items-center">
                <span>طرح إضافي </span>
                <span class="text-left-fr">4-1 Déduction additionnelle </span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div class="d-flex justify-content-between align-items-center">
                <span>بعنوان عمليات الفسخ و الإلغاء </span>
                <span class="text-left-fr"
                  >4-1-1 Au titre d'opérations de résiliation et d'annulation
                </span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div class="d-flex justify-content-between align-items-center">
                <span> بعنوان عمليات أخرى</span>
                <span class="text-left-fr">
                  4-1-2 Au titre d'autres operations</span
                >
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="2">
              <div class="d-flex justify-content-between align-items-center">
                <span> بعنوان عمليات أخرى</span>
                <span class="text-left-fr">
                  4-1-2 Au titre d'autres operations</span
                >
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center"></td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-right-ar" colspan="2">
              <div class="d-flex justify-content-between align-items-center">
                <span> عادة دفع</span>
                <span class="text-left-fr"> 4-2 Reversement</span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar text-primary" colspan="4">
              <div class="d-flex justify-content-between align-items-center">
                <span>المجموع </span>
                <span class="text-left-fr"> TOTAL</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="row wizard-buttons">
        <div class="col d-flex justify-content-center align-items-center">
          <button
            (click)="next()"
            type="button"
            class="btn btn-outline-primary mx-2"
          >
            الموالي Suivant
          </button>
          <button
            (click)="previous()"
            type="button"
            class="btn btn-outline-primary mx-2"
          >
            السابق Precedent
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
