<h1> TVA récupérable </h1>
<div class="all">
  <table>
      <thead>
        <tr>
          <th rowspan="2"></th>
          <th colspan="2">Achats locaux</th>
          <th colspan="2">Achats importés</th>
        </tr>
        <tr>
          <th>Hors Taxes</th>
          <th>TVA</th>
          <th>  Montant TVA</th>
          <th> Montant TTC</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Achat Équipements</td>
          <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
          <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
          <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
          <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
        </tr>
        <tr>
          <td>Autre Achats</td>
          <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
          <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
          <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
          <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
        </tr>
        <tr>
          <td>Achats Immobiliers</td>
          <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
          <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
          <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
          <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
        </tr> <tr>
        <td>Achat Équipements</td>
        <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
        <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
        <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
        <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
      </tr>
     
      <tr>
        <td>Autre Achats</td>
        <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
        <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
        <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
        <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
      </tr>
      <tr>
        <td>Achats Immobiliers</td>
        <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
        <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
        <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
        <td><input type="text" data-tooltip="Montant en Dt et 3 chiffres après la virguille" (mouseenter)="showTooltip($event)" (mouseleave)="hideTooltip()"></td>
      </tr>
      </tbody>
    </table>
</div>
 