<div class="container">
    <div class="inner-container">
      <div class="header">Contacter Nous</div>
      <div class="sub-header">
        Nous vous garantissons l’excellence, la compétence et l’écoute engagée d’un partenaire
      </div>
      <div class="form-container">
        <div class="form-content">
          <div class="contact-info">
            <div class="contact-card">
              <div class="contact-title">Informations De Contact</div>
              
                <div class="contact-details">
                  <div class="contact-item">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/196c6593e8708bc4bf3f5f1c38ef224625a93e90e38cdf5801b45ce775c385b0?" class="contact-icon" />
                    <div class="contact-text">98 35 05 75</div>
                  </div>
                  <div class="contact-item email-item">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/5a12f737972c9ef4bbd20bec9276a2c62c35f1964700d6b86c3b7b4631abc794?" class="contact-icon" />
                    <div class="contact-text email">macompta@macompta.com.tn</div>
                  </div>
                  <div class="contact-item address-item">
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/cb374b3441aa9f8fe2efa8fdd51320dce1086ba8a37a7511e00dcb708b0df9ed?" class="contact-icon" />
                    <div class="contact-text address">Ariana center Bureau A318 Ariana 2080</div>
                  </div>
                </div>
               
              <img src="assets/letter.png" alt="img" class="letter">

              <div class="icon-container">
                <a href="#">
                  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/02d0a92efdda49871c62f2ee6a0fd53d588a92f8f5467c1e99b2e6f50d0172a9?" class="shrink-0 aspect-square w-[30px]" />
                </a>
                <a href="#">
                  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3a3ebdf798cd04cbc8949c5fefed29f93f10150f9678a7944e4a45c0647b56cc?" class="shrink-0 aspect-square w-[30px]" />
                </a>
                <a href="#">
                  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/1eeb6ea786a2e2f858476e5633a23b2148fb82f00340f9ca5ed8c29ba4dfadbb?" class="shrink-0 aspect-square w-[30px]" />
                </a>
                <a href="#">
                  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/cf60dd982700b6540dbe49cef25ae927ecb9d597c9b48d01235e28f9cd2efb9c?" class="shrink-0 aspect-square w-[30px]" />
                </a>
              </div>
              
              
              
            </div>
          </div>
          <div class="contact-form">
            <form action="#" method="post">
              <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" id="nom" name="nom" placeholder="Entrer Votre Nom" />
              </div>
              <div class="form-group">
                <label for="prenom">Prénom</label>
                <input type="text" id="prenom" name="prenom" placeholder="Entrer Votre Prénom" />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Entrer votre adresse mail" />
              </div>
              <div class="form-group">
                <label for="mobile">Numéro Mobile</label>
                <input type="text" id="mobile" name="mobile" placeholder="Entrer votre Numéro Mobile" />
              </div>
              <div class="form-group">
                <label for="file">Attacher Fichier</label>
                <input type="file" id="file" name="file" />
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" placeholder="Présenter Votre Description Brièvement"></textarea>
              </div>
              <div class="form-buttons">
                <button type="submit">Envoyer Un Message</button>
                <button type="reset">Réinitialiser</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
  
