.page-container {
  background-color: gray;
  padding: 20px;

  .top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    
    .logo {
      text-align: center;
      flex: 1;
      
      img {
        max-width: 250px; /* Adjust as necessary */
      }
    }

    .quick-search {
      flex: 1;
      display: flex;
      justify-content: flex-end;

      input {
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
    }
  }

  .candidats-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .search-bar {
        input {
          padding: 10px;
          font-size: 16px;
        }
      }

      .title {
        font-size: 24px;
        font-weight: bold;
        color: black;
      }

      .filter {
        select {
          padding: 10px;
          font-size: 16px;
        }
      }
    }

    .table-container {
      width: 100%;
      overflow-x: auto;

      table {
        width: 100%;
        border-collapse: collapse;

        th, td {
          padding: 10px;
          text-align: left;
        }

        thead {
          th {
            background-color: #f1f1f1;
            color: gray;
          }
        }

        tbody {
          tr {
            border-bottom: 1px solid #e0e0e0;

            td {
              color: black;
            }
          }
        }
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;

      .info {
        font-size: 14px;
        color: gray;
      }

      .pagination {
        button {
          padding: 5px 10px;
          margin: 0 5px;
          font-size: 14px;
          cursor: pointer;

          &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
          }
        }

        span {
          margin: 0 5px;
          cursor: pointer;

          &.active {
            font-weight: bold;
          }
        }
      }
    }
  }

}

.searchIcon {
  max-width: 40px;
  margin-right: 15px;
}

/* For smaller screens, adjust padding and font sizes */
@media (max-width: 768px) {
  .page-container {
    padding: 10px;
  }

  .top-section {
    flex-direction: column;

    .logo {
      margin-bottom: 10px;
    }

    .quick-search {
      justify-content: flex-start;
    }
  }

  .candidats-container .header {
    flex-direction: column;

    .search-bar {
      margin-bottom: 10px;
    }

    .title {
      font-size: 20px;
    }
  }
}

/* Adjustments for even smaller screens */
@media (max-width: 480px) {
  .quick-search {
    flex-direction: column;
    align-items: stretch;

    input {
      margin-bottom: 10px;
    }
  }
}

