<div class="container">
  <h1 class="text-center mt-5 text-danger fs-2">
    خلاصة الأداءات و المعاليم الّتي سيقع احتسابها بعنوان القسط الأوّل لسنة 2024
  </h1>
  <h1 class="text-center mt-3 text-danger fs-2">
    <span class="text-secondary">R0329181 </span>لحساب المنخرط
  </h1>
  <div class="row d-flex justify-content-center">
    <table class="table table-bordered mt-5">
      <thead>
        <tr>
          <th>الجملة</th>
          <th scope="col">خطايا التأخير</th>
          <th scope="col">الأداء المستوجب أو فائض الأداء</th>
          <th scope="col">الطرح</th>
          <th scope="col">أصل الأداء</th>
          <th scope="col">الضريبة أو المعلوم</th>
        </tr>
        <tr>
          <th scope="col" class="text-dark">
            P<input type="number" value="10.000" />
          </th>
          <th scope="col" class="text-dark">
            <input type="number" value="10.000" />
          </th>
          <th scope="col" class="text-dark">
            P<input type="number" value="0.000" />
          </th>
          <th scope="col" class="text-dark">
            <input type="number" value="0.000" />
          </th>
          <th scope="col" class="text-dark">
            P<input type="number" value="0.000" />
          </th>
          <th scope="col">القسط الإحتياطي</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="col" class="text-dark">
            P<input type="number" value="10.000" />
          </td>
          <td scope="col" class="text-dark">
            <input type="number" value="10.000" />
          </td>
          <td scope="col" class="text-dark">
            P<input type="number" value="0.000" />
          </td>
          <td scope="col" class="text-dark">
            <input type="number" value="0.000" />
          </td>
          <td scope="col" class="text-dark">
            P<input type="number" value="0.000" />
          </td>
          <th scope="col">المجموع</th>
        </tr>
      </tbody>
    </table>

    <div class="row wizard-buttons">
      <div class="col d-flex justify-content-center align-items-center">
        <button
          (click)="previous()"
          type="button"
          class="btn btn-outline-primary mx-2"
        >
          السابق
        </button>
        <button type="button" class="btn btn-outline-primary mx-2">
          إلغاء
        </button>
        <button type="button" class="btn btn-outline-primary mx-2">
          موافق
        </button>
      </div>
    </div>
  </div>
</div>
