<div class="div">
    <div class="div-2">
      <div class="div-3">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/2e70e0b936359dfde18b63be5766b4a9f94e3b524dfdcef1b13b89bb1c10f120?"
          class="img"
        />
        <div class="div-4">
          <div class="div-5">
                            <div class="div-6">Modifier évènement</div>
                          
                            <table>
                              <tr>
                                  <td><label class="div-90" >Date</label></td>
                                  <td><input class="column-20" type="Date"></td>
                              </tr>
                              <tr>
                                  <td><label class="div-90">Evènement</label></td>
                                  <td><input class="column-20" type="text"  ></td>
                              </tr>
                              <tr>
                                  <td><label class="div-90">Commentaire</label></td>
                                  <td><textarea class="column-20" type="text"  ></textarea></td>
                              </tr>
                          </table>
                               
                        
          </div>



          
          <div class="div-19">
            <button class="btn1">supprimer</button>
            <button class="btn2">modifier </button>
          </div>
          <div class="div-22">
            Insérer plusieurs évènement fiscales et comptables
          </div>
          <div class="div-23">
            <div class="form-container">
            <img
              
              src="assets/fichierb.png"
              class="img-2"
            /></div>
           
            <div class="div-24">
              <div class="div-25">charger document</div>
              <div class="div-26">voir structure</div>
            </div>
            <div class="div-27"><input class="div-28"> </div>
            <button class="btn3">valider</button>
          </div>
        </div>
      </div>
    </div>
  </div>