<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .text-right-ar {
        text-align: right;
        direction: rtl;
      }

      .text-left-fr {
        text-align: left;
        direction: ltr;
      }
      .d-flex {
        display: flex;
      }
      .justify-content-between {
        justify-content: space-between;
      }
      .align-items-center {
        align-items: center;
      }
    </style>
  </head>
  <body class="fs-5">
    <div class="container mt-5 mb-4">
      <h1 class="text-center mt-5 text-danger fs-2">
        0329181R القسط الإحتياطي لحساب المنخرط
      </h1>
      <h1 class="text-center mt-3 text-danger fs-2">إحتساب القسط الإحتياطي</h1>
      <table class="table table-bordered mt-5">
        <thead>
          <tr>
            <th scope="col" class="text-center">المبلغ(د)</th>
            <th scope="col" class="text-center">أساس إحتساب القسط الإحتياطي</th>
          </tr>
        </thead>
        <tbody>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="4">
              <div class="d-flex justify-content-between align-items-center">
                <span>
                  قاعدة احتساب الضريبة على الدخل أو الضريبة على الشركات بعنوان
                  مداخيل أو أرباح السنة الفارطة
                </span>
                <span class="text-left-fr">
                  <select name="" id="">
                    <option value="ر">ر</option>
                  </select></span
                >
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="4">
              <div class="d-flex justify-content-between align-items-center">
                <span> القيمة الزائدة </span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="4">
              <div class="d-flex justify-content-between align-items-center">
                <span> القيمة الناقصة </span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="4">
              <div class="d-flex justify-content-between align-items-center">
                <span>
                  قاعدة احتساب الضريبة النظرية قاعدة احتساب الأقساط الاحتياطية
                </span>
                <span class="text-left-fr">
                  <select name="" id="">
                    <option value="ر">ر</option>
                  </select></span
                >
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="4">
              <div class="d-flex justify-content-between align-items-center">
                <span> الضريبة النظرية قاعدة إحتساب الأقساط الإحتياطية </span>
                <span class="text-left-fr">
                  <select name="" id="">
                    <option value="ر">ر</option>
                  </select></span
                >
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar fs-5" colspan="4">
              <div class="d-flex justify-content-between align-items-center">
                <span> 30% من الضريبة النظرية </span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center"></td>
            <td class="text-right-ar text-warning" colspan="4">
              <div class="d-flex justify-content-between align-items-center">
                <span> يطرح :</span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="4">
              <div class="d-flex justify-content-between align-items-center">
                <span>
                  فائض الضريبة الناتج عن التصريح بعنوان مداخيل أو أرباح السنة
                  الفارطة
                </span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="4">
              <div class="d-flex justify-content-between align-items-center">
                <span> المبالغ المخصومة من المورد </span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="4">
              <div class="d-flex justify-content-between align-items-center">
                <span>التسبقة بنسبة 10% على المنتجات الموردة </span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="4">
              <div class="d-flex justify-content-between align-items-center">
                <span>
                  التسبقة الموظفة على بيوعات المؤسسات الصناعية ومؤسسات تجارة
                  الجملة إلى الأشخاص الطبيعيين الخاضعين للضريبة على الدخل على
                  أساس قاعدة تقديرية في صنف أرباح المهن غير لتجارية</span
                >
                <span class="text-left-fr"></span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="4">
              <div class="d-flex justify-content-between align-items-center">
                <span> فائض القسط الإحتياطي السابق </span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="4">
              <div class="d-flex justify-content-between align-items-center">
                <span> مبلغ القسط المدفوع </span>
              </div>
            </td>
          </tr>
          <tr scope="row">
            <td class="text-center">
              <input type="number" name="v" value="0.000" />
            </td>
            <td class="text-right-ar" colspan="4">
              <div class="d-flex justify-content-between align-items-center">
                <span> الباقي: (ب) مستوجب أو (ف) فائض </span>
                <span class="text-left-fr">
                  <select name="" id="">
                    <option value="ب">ب</option>
                  </select></span
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row wizard-buttons">
        <div class="col d-flex justify-content-center align-items-center">
          <button
            (click)="previous()"
            type="button"
            class="btn btn-outline-primary mx-2"
          >
            السابق
          </button>

          <button type="button" class="btn btn-outline-primary mx-2">
            موافق
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
