 <h1> loyers, commissions, courtages et vacations</h1>
<div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Rubrique loyers, commissions, courtages et vacations</th>
          <th>Total des montants bruts</th>
          <th>Taux</th>
          <th>Montant total des retenues à la source</th>
          <th>Total des montants nets</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Servis aux personnes physiques résidentes</td>
          <td>0</td>
          <td>10%</td>
          <td>Montant en Dt à 3 chiffres après la virgule</td>
          <td>Montant en Dt à 3 chiffres après la virgule</td>
        </tr>
        <tr>
          <td>Servis aux personnes morales résidentes</td>
          <td>0</td>
          <td>10%</td>
          <td>Montant en Dt à 3 chiffres après la virgule</td>
          <td>Montant en Dt à 3 chiffres après la virgule</td>
        </tr>
        <tr>
          <td>Servis aux personnes physiques non résidentes</td>
          <td>0</td>
          <td>15%</td>
          <td>Montant en Dt à 3 chiffres après la virgule</td>
          <td>Montant en Dt à 3 chiffres après la virgule</td>
        </tr>
        <tr>
          <td>Servis aux personnes morales non résidentes</td>
          <td>0</td>
          <td>15%</td>
          <td>Montant en Dt à 3 chiffres après la virgule</td>
          <td>Montant en Dt à 3 chiffres après la virgule</td>
        </tr>
      </tbody>
    </table>
  </div>
 