<div class="container">
   
      <label for="totalRetenue" class="lab1">Total de Retenue à la source</label>
      <input id="totalRetenue" class="inp1" type="text" placeholder="renseigner l'intitulé de la rubrique"  size="10"class="inp1">
      
     
  
    <div class="rubrique">
      <h2>Rubrique 1 :</h2>
      
        <label for="titre" class="lab2">titre :</label>
        <input id="titre" type="text" placeholder="désignation montant" class="inp2">
    
      
        <label for="montant" class="lab3">Montant :</label>
        <input id="montant" type="text" placeholder="0.000" class="inp3">
      
        <label for="description" class="lab4">Description:</label>
        <textarea id="description" placeholder="décrivez ce montant" class="inp4"></textarea>
      </div>
      <button class="add-button" (click)="showSoumistvaComponent()"  >ajouter montant</button>
 
      <div *ngIf="showSoumistva" class="r">
        <app-rub ></app-rub>
      </div>
    
    </div>
     