 /* app.component.css */
 
.dynamic-component-container
{
      background-color: rgba(128, 128, 128, 0.1); /* Grey color with 50% transparency */;
    width: 100%;
    height: auto;
    min-height: 100%;
}




h1 {
    font-weight: bolder;
    margin-left: 25%;
    margin-top: 6%;
}
.checkbox-group {
    display: flex;
   
    gap: 20px; /* Adjust the space between items as needed */
    margin-left: 10%;
    margin-top: 2%;
}
 /* app.component.css */
.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    outline: none;
    padding: 5px;
    width: 15%;
    height: 40px; /* Définir une hauteur fixe pour tous les conteneurs */
    transition: background-color 0.2s;
}

.checkbox-container.checked {
    background-color: #D1DEDE; background-color: rgba(219, 212, 211, 0.3);  /* Couleur de fond gris */
}
.custom-checkbox .checkmark {
    font-size: 1.5vw;
    line-height: 1;
    color: white;
   
}

.custom-checkbox {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    border: 1px solid #00b5ad;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    
    transition: background-color 0.2s, border-color 0.2s;
    background-color: #00b5ad;
}


label {
  
    font-size: 1vw;
    color: blue;
    font-weight: 420;
    cursor: pointer;
}
 
 