<div class="page-container">
  <div class="top-section">
    <app-menu-lateral></app-menu-lateral>
    <div class="logo">
      <img src="../../assets/logoMaCompta.png" alt="Company Logo">
    </div>
    <div><h1>Tableau de bord administrateur</h1></div>
    <div class="quick-search">
      <img src="../../assets/search.png" alt="search icon" class="searchIcon">
      <input type="text" placeholder="Recherche rapide">
    </div>
  </div>
  <div class="candidatures-en-cours-container">
    <div class="header">
      <div class="title">
        Liste des candidatures en cours d'exécution
      </div>
      <div class="search-bar">
        <img src="../../assets/search.png" alt="search icon" class="searchIcon">
        <input type="text" placeholder="Rechercher">
      </div>
      
      <div class="filter">
        <label for="tri">Trié par: &nbsp;</label>
        <select id="tri">
          <option value="email">Email</option>
          <option value="prenomNom">Prénom et Nom</option>
          <option value="adresse">Adresse</option>
          <option value="mobile">Mobile</option>
          <option value="statutAdmin">Statut Admin</option>
          <option value="statutCollaborateur">Statut Collaborateur</option>
          <option value="dateCreation">Date et heure de création</option>
        </select>
      </div>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Email</th>
            <th>Prénom et Nom</th>
            <th>Adresse</th>
            <th>Mobile</th>
            <th>Statut Admin</th>
            <th>Statut Collaborateur</th>
            <th>CV</th>
            <th>Date et heure de création</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let candidature of paginatedCandidatures">
            <td>{{ candidature.email }}</td>
            <td>{{ candidature.prenomNom }}</td>
            <td>{{ candidature.adresse }}</td>
            <td>{{ candidature.mobile }}</td>
            <td>{{ candidature.statutAdmin }}</td>
            <td>{{ candidature.statutCollaborateur }}</td>
            <td><a href="{{ candidature.cv }}" target="_blank">Voir CV</a></td>
            <td>{{ candidature.dateCreation }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="footer">
      <div class="info">
         {{ currentPage | displayRange: pageSize: totalCandidatures }}
      </div>
      <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">&lt;</button>
        <span *ngFor="let page of pages" (click)="goToPage(page)" [class.active]="page === currentPage">{{ page }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">></button>
      </div>
    </div>
  </div>
</div>
