#calendar-container
{
     margin-top: 10vh;;
    width: 100vh;
    height:500px;
    margin-left: 20vw;
     
}
.cal-week-view .cal-header.cal-today {
    background-color: #F4FEC1 !important; /* Ajoutez !important pour garantir que ce style sera appliqué */
}

.cal-week-view .cal-event,
.cal-week-view .cal-header b {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #D81B1B;
}
.cal-date-nav-buttons {
    text-align: left; /* Aligne les boutons à gauche */
   
}

.cal-date-nav-buttons button {
    background-color: #007bff; /* Couleur de fond des boutons */
    color: #ffffff; /* Couleur du texte des boutons */
    padding: 5px 10px; /* Ajoute du rembourrage aux boutons pour un aspect visuel agréable */
    border: none; /* Supprime les bordures des boutons */
    border-radius: 4px; /* Ajoute un peu de bord arrondi aux boutons */
    margin-right: 10px; /* Ajoute un espace entre les boutons */
    
}
 
.cal-date-nav-buttons button:last-child {
    margin-right: 0; /* Supprime la marge à droite du dernier bouton pour éviter un espace supplémentaire */
}
#changer {
    text-align: right; /* Aligne les boutons à droite */
    margin-left: 22.5vw;
    margin-right: 50px;
    display: block;
    unicode-bidi: isolate;
  }

#changer button {
    background-color: #ff0000; /* Couleur de fond des boutons */
    color: #ffffff; /* Couleur du texte des boutons */
    padding: 5px 10px; /* Ajoute du rembourrage aux boutons pour un aspect visuel agréable */
    border: none; /* Supprime les bordures des boutons */
    border-radius: 4px; /* Ajoute un peu de bord arrondi aux boutons */
    margin-left: 10px; /* Ajoute un espace entre les boutons */
 }

#changer button:first-child {
    margin-left: 0; /* Supprime la marge à gauche du premier bouton pour éviter un espace supplémentaire */
}





