<div class="page-container">
  <div class="top-section" style="display: flex;">
  <app-menu-lateral style="position: relative; z-index: 500;"></app-menu-lateral>
  <div class="logo">
    <img src="../../assets/logoMaCompta.png" alt="Company Logo">
  </div>
  <div><h1>Tableau de bord administrateur</h1></div>
  <div class="quick-search">
    <img src="../../assets/quickSearch.png" alt="search icon" class="searchIcon">
    <input type="text" placeholder="Recherche rapide">
  </div>
</div>

<div class="chart-container" style="display: block;">
  <div>
    <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="barChartOptions"
    style="width: 100%; height: 400px; display: block; margin-bottom: 7%;">
  </highcharts-chart>
  </div>
   
  <div>
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="lineChartOptions"
    style="width: 100%; height: 400px; display: block; margin-bottom: 7%;">
  </highcharts-chart>
</div>
  <div>
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="pieChartOptions"
      style="width: 100%; height: 400px; display: block; margin-bottom: 7%;">
    </highcharts-chart>
  </div>
</div>
</div>

