<!DOCTYPE html>
<html>
  <head>
    
  </head>
<body style="margin: 0;">

<app-disconnected-home-nav></app-disconnected-home-nav>


<section class="pageActualite page" style="padding:5%;" id="actualite">
  <p class="phrase">Le cabinet comptable virtuel en Tunisie ...</p>

  <p class="title">Actualité</p>
  <br>
  <div style="border : 0.15em white solid; margin-right:2%;margin-left: 2%;">
  <p class="subtitle" style="margin-bottom: 0; font-weight: 500; color: #E5FF45;">Loi de finances 2024</p>
  <div class="actualiteContainer" style="margin-top: 0;">
    <img src="../../assets/flèchegauche.png" class="flecheImage" style="margin-left: 5%;">
   <p class="actualite">Report de la date d'application de la T.V.A au taux de 19% sur les biens immeubles à usage d'habitation commercialisés par les promoteurs immobiliers au 01/01/2025 (Initialement fixée au 01/01/2024)</p>
    <img src="../../assets/flèchedroite.png" class="flecheImage" style="margin-right: 5%;"></div>
  </div>
</section>




<section class="pageRappelezVous page" id="rappelez-vous">
  <p style= "color:red; margin-bottom: 2%;" class="title">Rappelez vous !</p>
  <p class="ligne"><span class="date">15-06-2024</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Déclaration mensuelle pour les P.Ph&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="lire-plus">Lire plus</a></p>
<p class="ligne"><span class="date">20-06-2024</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Déclaration mensuelle pour les P.M adhérentes au système de télé-déclaration&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="lire-plus">Lire plus</span></p>
<p class="ligne"><span class="date">25-06-2024</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Déclaration annuelle définitive de l'IS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="lire-plus">Lire plus</span></p>
<p class="ligne"><span class="date">25-06-2024</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Liasse fiscale définitive pour les sociétés&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="lire-plus">Lire plus</span></p>
<p class="ligne"><span class="date">25-06-2024</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Premier acompte provisionnel pour les P.Ph&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="lire-plus">Lire plus</span></p>
<p class="ligne"><span class="date">28-06-2024</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Premier acompte provisionnel pour les P.M&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="lire-plus">Lire plus</span></p>
<p class="ligne"><span class="date">28-06-2024</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Déclaration mensuelle pour les P.M non adhérentes au système de télé-déclaration&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="lire-plus">Lire plus</span></p>
<p class="ligne"><span class="date">30-06-2024</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Déclaration de l'impôt sur la fortune immobilière&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="lire-plus">Lire plus</span></p>
<p class="ligne"><span class="date">30-06-2024</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tenue des assemblées générales annuelles pour les S.A.R.L et les S.A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="lire-plus">Lire plus</span></p>
<p class="ligne"><span class="date">30-06-2024</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ech. de paiement de dettes fiscales constatées dans le cadre de l'amnistie conformément l'art. 58 de la LF 2024&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="lire-plus">Lire plus</span></p>
</section>




<section class="pageNosValeurs page" id="nos-valeurs">
  <p style= "color:black; margin-bottom: 2%;" class="title">Nos valeurs</p>
  <div class="valeursContainer">
    <div class="valeur">
      <img src="../../assets/simpliciteIcone.png" class="valeurImage">
      <br>
      <b style="font-size: 1.8vw;">Simplicité d'utilisation</b>
    </div>
    <div class="valeur">
      <img src="../../assets/securiteIcone.png" class="valeurImage">
      <br>
      <b style="font-size: 1.8vw;">Sécurité</b>
    </div>
    <div class="valeur">
      <img src="../../assets/confidentialiteIcone.png" class="valeurImage">
      <br>
      <b style="font-size: 1.8vw;">Confidentialité</b>
    </div>
    <div class="valeur">
      <img src="../../assets/disponibilteIcone.png" class="valeurImage">
      <br>
      <b style="font-size: 1.8vw;">Disponibilité</b>
    </div>
    <div class="valeur">
      <img src="../../assets/proximiteIcone.png" class="valeurImage">
      <br>
      <b style="font-size: 1.8vw;">Proximité</b>
    </div>
  </div>
  <div class="valeursContainer">
    <div class="valeur">
      <img src="../../assets/gardeDocIcone.png" class="valeurImage">
      <br>
      <b style="font-size: 1.8vw;">Garde des documents par vous</b>
    </div>
    <div class="valeur">
      <img src="../../assets/gratuiteIcone.png" class="valeurImage">
      <br>
      <b style="font-size: 1.8vw;">Gratuité de saisie</b>
    </div>
    <div class="valeur">
      <img src="../../assets/rapiditeIcone.png" class="valeurImage">
      <br>
      <b style="font-size: 1.8vw;">Rapidité</b>
    </div>
    <div class="valeur">
      <img src="../../assets/depotIcone.png" class="valeurImage">
      <br>
      <b style="font-size: 1.8vw;">Dépôt à distance de vos déclarations   fiscales</b>
    </div>
    <div class="valeur">
      <img src="../../assets/reductionCoutIcone.png" class="valeurImage">
      <br>
      <b style="font-size: 1.8vw;">Minimisation des coûts</b>
    </div>
  </div>
  <div class="valeursContainer">
    <div class="valeur">
      <img src="../../assets/dematrialisationIcone.png" class="valeurImage">
      <br>
      <b style="font-size: 1.8vw;">Dématrialisation à 100%</b>
    </div>
  </div>

</section>





<section class="pageAboutUs page" id="qui-sommes-nous">
  <p class="title" style="color:#E5FF45;">À propos de nous</p>
  <p class="aboutUs">Logiciels de comptabilité, facturation et paie, puissants, complets au meilleur prix.</p>
  <img class="aboutUsImage" src="../../assets/about1.png">
  <div style="display: flex;">
  <div style="display: inline ; width:60%;"><p class="aboutUsParagraph">Logiciel de facturation, comptabilité, note de frais, déclarations fiscales, immobilisations, paie et déclarations sociales... Gérez toute votre entreprise (ou association) sur macompta.com.tn.</p>
  <button class="enSavoirPlus">En savoir plus</button> </div> 
  <div><img class="aboutUsImage" src="../../assets/about2.png"></div>
</div>
  <br>
  <br/>
</section>


<section class="pageNotreProjet page "  id="notre-projet">
  <p style="color:black" class="title">Notre projet </p>
  <p style="color:#BB0000; font-size: 2.5vw;" class="title">Notre présentation</p>
  <video controls="controls" class="videoPresentation"> 
    <source src="../../assets/v2_présentation_générale.mp4" type="video/mp4">
  </video>
  <br/>
  <br/>
</section>


<div class="pageNosServices page" id="nos-services">
  <br/>
  <p style="color:black" class="title">Nos services</p>
  <p class="title" style="color: #061B3C; font-size: 2.5vw; margin-bottom: 2.5%;">Une suite complète d'outils pour votre gestion</p>
  <br/>
  <div style="display: flex;">
    
    <div class="service">
      <div><img src="../../assets/comptabilieIcone.png" class="serviceImage"></div>
      <p class="serviceNom"> Comptabilité </p>
      <p class="serviceDescription">Tenez votre comptabilité.</p>
      <button class="accederService">Accéder au service</button>
    </div>
    <div class="service">
      <img src="../../assets/fiscaliteIcone.png" class="serviceImage">
      <p class="serviceNom">Fiscalité </p>
      <p class="serviceDescription">Etablissez vos déclarations fiscales.</p>
      <button class="accederService">Accéder au service</button>
    </div>
  </div> 
  <div style="display: flex;">
    <div class="service">
    
        <div><img src="../../assets/paieIcone.png" class="serviceImage">
          </div>
      <p class="serviceNom"> Paie </p>
      <p class="serviceDescription">Préparez vos fiches de paie. </p>
      <button class="accederService">Accéder au service</button>
    </div>
    <div class="service">
      <div style=><img src="../../assets/conseilConsultationIcone.png" class="serviceImage"></div>
      <p class="serviceNom"> Conseil & Consultation </p>
      <p class="serviceDescription">Demandez un conseil.</p>
      <button class="accederService">Accéder au service</button>
    </div>
  </div>
</div>

<app-footer></app-footer>

</body>
</html>