<div class="page-container">
  <div class="top-section">
    <app-menu-lateral></app-menu-lateral>
    <div class="logo">
      <img src="../../assets/logoMaCompta.png" alt="Company Logo">
    </div>
    <div><h1>Tableau de bord administrateur</h1></div>
    <div class="quick-search">
      <img src="../../assets/quickSearch.png" alt="search icon" class="searchIcon">
      <input type="text" placeholder="Recherche rapide">
    </div>
  </div>
  <div class="dossiers-execution-container">
    <div class="header">
      <div class="title">
        Dossiers ouverts
      </div>
      <div class="search-bar">
        <img src="../../assets/search.png" alt="search icon" class="searchIcon">
        <input type="text" placeholder="Rechercher">
      </div>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Prénom et nom</th>
            <th>Prénom et nom client</th>
            <th>Mois-Année</th>
            <th>Type</th>
            <th>Date d'ouverture</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dossier of paginatedDossiers">
            <td>{{ dossier.nom }}</td>
            <td>{{ dossier.nomClient }}</td>
            <td>{{ dossier.moisAnnee }}</td>
            <td>{{ dossier.type }}</td>
            <td>{{ dossier.dateOuverture }}</td>
            <td class="action-buttons">
              <button class="liberer">Libérer</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="footer">
      <div class="info">
        {{ currentPage | displayRange: pageSize: totalDossiers }}
      </div>
      <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">&lt;</button>
        <span *ngFor="let page of pages" (click)="goToPage(page)" [class.active]="page === currentPage">{{ page }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">></button>
      </div>
    </div>
  </div>
</div>
